*{
    max-width: 0;
    height: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.parent{
    width: 100%;
    height: 100%;
    background-color: lightblue;
}
.parent .box{
    width: 400px;
    height: 400px;
    color: black;
}
          